<div style="text-align: center; width: 90%; margin-left: auto; margin-right: auto;">
  <span *ngIf = "path !== null && path !== undefined && path.section !== undefined && path.section !== null" class = "mainCard">
    <mat-card (click) = "selectSection()">
      <h2>
        {{path.section.name}}
      </h2>
    </mat-card>
    <div *ngFor="let folderNode of path.folders" class = "item">
      <mat-icon svgIcon="arrow-right" aria-hidden="false" style = "transform: scale(2);"></mat-icon>
      <mat-card (click) = "selectFolder(folderNode)">
        <h3>
          {{folderNode.name}}
        </h3>
      </mat-card>
    </div>
  </span>
</div>
