<div class = "table">
  <mat-expansion-panel>
    <mat-expansion-panel-header style = "text-align: center">
      <h3 style = "width:100%;">{{pwDataSet.name}}</h3>
    </mat-expansion-panel-header>
    <table style = "width:100%">
      <tr>
        <th style = "margin: 1% 1% auto" > Key </th>
        <th style = "margin: 1% 1% auto" > Content </th>
      </tr>
    </table>
    <div>
      <span *ngFor="let pwEntry of pwDataSet.entries">
        <table style = "width:100%">
          <td>
            <mat-form-field>
              <input matInput [(ngModel)]="pwEntry.key" type="text" placeholder="Key" value="">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <input matInput [(ngModel)]="pwEntry.content" *ngIf="!pwEntry.isSecure" type="text" placeholder="Content" value="">
              <input matInput [(ngModel)]="pwEntry.content" *ngIf="pwEntry.isSecure" type="password" placeholder="Content" value="">
              <mat-hint align="end">size: {{pwEntry.content.length}}</mat-hint>
            </mat-form-field>
          </td>
          <td>
            <span (click) = "copyContentToClipboard(pwEntry)" class="button">
              <mat-icon svgIcon="clipboard_copy" aria-hidden="false"></mat-icon>
            </span>
            <span (click) = "deleteEntry(pwEntry)" class="button">
              <mat-icon svgIcon="delete_forever" aria-hidden="false"></mat-icon>
            </span>
            <span (click) = "switchIsSecure(pwEntry)" class="button">
              <mat-icon *ngIf="!pwEntry.isSecure" svgIcon="visible" aria-hidden="false"></mat-icon>
              <mat-icon *ngIf="pwEntry.isSecure" svgIcon="not_visible" aria-hidden="false"></mat-icon>
            </span>
          </td>
        </table>
      </span>
      <span *ngFor="let pwEntry of pwDataEntries">
        <table style = "width:100%">
          <td>
            <mat-form-field>
              <input matInput [(ngModel)]="pwEntry.key" type="text" placeholder="Key" value="">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <input matInput [(ngModel)]="pwEntry.content" *ngIf="!pwEntry.isSecure" type="text" placeholder="Content" value="">
              <input matInput [(ngModel)]="pwEntry.content" *ngIf="pwEntry.isSecure" type="password" placeholder="Content" value="">
              <mat-hint align="end">size: {{pwEntry.content.length}}</mat-hint>
            </mat-form-field>
          </td>
          <td>
            <span (click) = "copyContentToClipboard(pwEntry)" class="button">
              <mat-icon svgIcon="clipboard_copy" aria-hidden="false"></mat-icon>
            </span>
            <span (click) = "deleteEntry(pwEntry)" class="button">
              <mat-icon svgIcon="delete_forever" aria-hidden="false"></mat-icon>
            </span>
            <span (click) = "switchIsSecure(pwEntry)" class="button">
              <mat-icon *ngIf="!pwEntry.isSecure" svgIcon="visible" aria-hidden="false"></mat-icon>
              <mat-icon *ngIf="pwEntry.isSecure" svgIcon="not_visible" aria-hidden="false"></mat-icon>
            </span>
          </td>
        </table>
      </span>
    </div>
    <span style = "width:100%">
      <button mat-mini-fab color="primary" (click)="edit()" style = "font-size: x-large; margin: 1% 1% auto">
        <mat-icon svgIcon="edit" aria-hidden="false"></mat-icon>
      </button>
      <button mat-button (click)="save()" style = "font-size: large; margin: 1% 1% auto" *ngIf="isEdited()">save</button>
      <button mat-mini-fab color="primary" (click)="add()" style = "font-size: x-large; margin: 1% 1% auto"> + </button>
    </span>
  </mat-expansion-panel>
</div>
