<div style="text-align:center">
  <mat-card class="mainCard">
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field class="contentInput">
        <input [(ngModel)]="userData.username" matInput type="text" placeholder="Username" value="">
      </mat-form-field>
      <mat-form-field class="contentInput">
        <input [(ngModel)]="userData.password" matInput type="password" placeholder="Passsword" value="">
      </mat-form-field>
      <mat-form-field class="contentInput">
        <input [(ngModel)]="userData.eMail" matInput type="text" placeholder="E-Mail" value="">
      </mat-form-field>
      <br />
      <button mat-button (click)="register()"> Register </button>
    </mat-card-content>
  </mat-card>
</div>
