<div style="text-align:center">
  <span class="mainCard">
    <h2>
      Login
    </h2>
    <span>
      <mat-form-field class="contentInput">
        <input [(ngModel)]="loginData.username" matInput type="text" placeholder="Username" value="">
      </mat-form-field>
      <mat-form-field class="contentInput">
        <input [(ngModel)]="loginData.password" matInput type="password" placeholder="Passsword" value="">
      </mat-form-field>
      <br />
      <button mat-button (click)="login()"> Login </button>
      <button mat-button [mat-dialog-close]="true"> Cancel </button>
    </span>
  </span>
</div>
