<div style="text-align:center">
  <mat-toolbar class="banner" color="primary">
    <span style = "font-size: x-large">
      App
    </span>
    <span style = "padding-left: 5%">
        <button mat-button (click)="redirectTo('https://reschiram.ddns.net/password-manager')" style = "font-size: large">PasswordManager</button>
        <button mat-button (click)="redirectTo('https://reschiram.ddns.net/file-manager')"  style = "font-size: large">FileManager</button>
      </span>
    <span class="bannerContent">
      <span *ngIf="isLoggedOut()">
        <button mat-button (click)="login()">Login</button>
        <button mat-button (click)="redirectTo('https://reschiram.ddns.net/register')">Register</button>
      </span>
      <span *ngIf="isLoggedIn()">
        <button mat-button (click)="redirectTo('https://reschiram.ddns.net/user')">{{currentUser.username}}</button>
        <button mat-button (click)="logout()">Logout</button>
      </span>
    </span>
  </mat-toolbar>
</div>

