<div style="text-align:center">
  <span class="mainCard">
    <h3>
      <span *ngIf="isNew">Create New Password-Set</span>
      <span *ngIf="!isNew">Edit Password-Data-Set</span>
    </h3>
    <span>
      <mat-form-field class="contentInput">
        <input [(ngModel)]="pwDataSet.name" matInput type="text" placeholder="Name" value="">
      </mat-form-field>
      <div *ngIf="isNew">
        <mat-form-field>
          <mat-select [(value)]="selectedType" placeholder="DataSet Type">
            <mat-option *ngFor="let dataSetType of dataSetTypes" [value]="dataSetType">
              {{dataSetType.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <br />
      <span *ngIf="isNew">
        <button mat-button (click)="add()"> Add </button>
      </span>
      <span *ngIf="!isNew">
        <button mat-button (click)="delete()"> Delete </button>
        <button mat-button (click)="save()"> Save </button>
      </span>
      <button mat-button [mat-dialog-close]="true"> Cancel </button>
    </span>
  </span>
</div>
