<div style="text-align:center">
  <span class="mainCard">
    <h3>
      <span>Are you sure you want to permanently delete {{deleteDialogInfo.name}} ?</span>
    </h3>
    <span>
      <br/>
      <button mat-button [mat-dialog-close]="true"> Cancel </button>
      <button mat-button (click)="delete()"> Ok </button>
    </span>
  </span>
</div>
