<div style="text-align:center">
  <mat-card class="mainCard" *ngIf="userService.isLoggedin()">
    <div style = "width:100%; text-align: right; font-size: small; color: grey;">
      <span>sort by: </span>
      <mat-form-field style = "margin-bottom: 0px; width: 5%; padding-bottom: 0px;">
        <mat-select [(value)]="sortBy" placeholder="">
          <mat-option value = "Name" (click) = "sort()">Name</mat-option>
          <mat-option value = "Date" (click) = "sort()">Created</mat-option>
        </mat-select>
      </mat-form-field>
      <span (click) = "changeSortMode()" class="button">
        <mat-icon svgIcon="arrow_up" *ngIf = "mode === 1" aria-hidden="false"></mat-icon>
        <mat-icon svgIcon="arrow_down" *ngIf = "mode === -1" aria-hidden="false"></mat-icon>
      </span>
    </div>
    <table style = "width: 100%" *ngIf="currentPWDataSets !== null && currentPWDataSets !== undefined">
      <tr class = "cardContent">
        <span *ngFor="let pwDataSet of currentPWDataSets">
            <span style = "display: inline-block; min-width: 48%; margin: 1% 1% auto; vertical-align: top">
             <pw-data-viewer [pwDataSet]="pwDataSet"></pw-data-viewer>
            </span>
        </span>
      </tr>
      <tr class = "addButton">
        <br/>
        <button mat-fab color="primary" class="addButton2" (click)="newPWDataSet()">+</button>
      </tr>
    </table>
    <div *ngIf="currentPWDataSets === null || currentPWDataSets === undefined">
      <br/>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
  </mat-card>
</div>
