.mainCard {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.addButton2 {
  font-size: xx-large;
}
.addButton {
  flex: 0 1 auto;
}
.cardContent {
  width: 100%;
  display: inline-block;
}
.button:hover {
  cursor: pointer;
}
