<div style="text-align:center" *ngIf = "userService.isLoggedin()">
  <span style = "display: flex; justify-content: space-around; align-items: stretch;">
    <span>
        <section-list-viewer></section-list-viewer>
    </span>
    <span style = "width: 80%;">
        <path-viewer></path-viewer>
        <br/>
        <br/>
        <folder-viewer></folder-viewer>
    </span>
  </span>
</div>
