<div style="text-align:center;">
  <mat-card style = "max-width: 10vw">
    <h1>Sections</h1>
    <div style = "overflow-y: scroll; height: 70vh;">
      <mat-card class = "button-card" *ngFor="let sectionNode of sectionNodes" (click) = "selectSection(sectionNode)">
        <h2>
          {{sectionNode.name}}
        </h2>
          <div style = "font-size: small">
            {{sectionNode.created|dateToStringPipe}}
        </div>
      </mat-card>
    </div>
    <br/>
    <div>
      <button mat-fab color="primary" class="addButton" (click)="newSection()">+</button>
    </div>
  </mat-card>
</div>
