.mainCard {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.addButton {
  font-size: xx-large;
}
.cardContent {
  width: 100%;
  display: inline-block;
}
.button:hover {
  cursor: pointer;
}
.folderNodeItem:hover {
  cursor: pointer;
}
.listItem:hover{
  background-color: aliceblue;
}
.button {
  width: 30%;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
table {
  min-width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
td {
  min-width: 15%;
}
.bigLine {
  height: 2px;
  display: inline-block;
  background-color: lightgray;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.line {
  height: 2px;
  background-color: lightgray;
  width: 80%;
}
