<div style="text-align:center">
  <mat-card class = "mainCard">
    <div *ngIf = "currentNode !== null && currentNode !== undefined && currentNode.isOk()" style = "display: flex; justify-content: space-around; align-items: flex-end; padding-top: 5px; padding-bottom: 5px">
      <span></span>
      <h1>{{currentNode.getName()}}</h1>
      <span>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon svgIcon="more-horiz" aria-hidden="false"></mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <div mat-menu-item (click) = "downloadFolder()" class="menu-button">
            <mat-icon svgIcon="download" aria-hidden="false"></mat-icon>
            <span>Download {{currentNode.isFolder() ? 'Folder' : 'Section'}}</span>
          </div>
          <div mat-menu-item (click) = "edit(currentNode)" class="menu-button">
            <mat-icon svgIcon="edit" aria-hidden="false"></mat-icon>
            <span>Edit {{currentNode.isFolder() ? 'Folder' : 'Section'}}</span>
          </div>
          <div mat-menu-item (click) = "createFolder()" class="menu-button">
            <mat-icon svgIcon="create-new-folder" aria-hidden="false"></mat-icon>
            <span>New Folder</span>
          </div>
        </mat-menu>
      </span>
    </div>
    <div *ngIf="nodeList === null || nodeList === undefined && selectedSection !== null && selectedSection !== undefined">
      <br/>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <div *ngIf="loadProgress !== null && loadProgress !== undefined && !loadProgress.isFinished()">
      <br/>
      <mat-progress-bar [value] = "(this.loadProgress.current / this.loadProgress.max) * 100"></mat-progress-bar>
      <br/>
    </div>
    <div *ngIf="nodeList !== null && nodeList !== undefined && currentNode !== null && currentNode !== undefined && currentNode.isOk()">
      <table matSort (matSortChange)="sortData($event)">
        <tr>
          <th mat-sort-header="NodeType">Type</th>
          <th mat-sort-header="Name">Name</th>
          <th mat-sort-header="Datatype">Datatype</th>
          <th mat-sort-header="Size">Size</th>
          <th mat-sort-header="Created">Created</th>
          <th>Actions</th>
        </tr>
        <tr>
          <td><div class = "line"></div></td>
          <td><div class = "line"></div></td>
          <td><div class = "line"></div></td>
          <td><div class = "line"></div></td>
          <td><div class = "line"></div></td>
          <td><div class = "line"></div></td>
        </tr>
        <tr *ngFor="let node of nodeList.slice(pageIndex * pageSize, (pageIndex + 1) * pageSize > nodeList.length ? nodeList.length : (pageIndex + 1) * pageSize)"
            [ngClass]="node.isFolder() ? 'folderNodeItem' : 'fileNodeItem'" class="listItem">
          <td (click)="navigate(node)">
            <span *ngIf="node.isFolder()" style = "display: flex; align-items: center">
              <mat-icon svgIcon="folder" aria-hidden="false"></mat-icon>
              <span>Folder</span>
            </span>
            <span *ngIf="node.isFile()" style = "display: flex; align-items: center">
              <mat-icon svgIcon="file" aria-hidden="false"></mat-icon>
              <span>File</span>
            </span>
          </td>
          <td (click)="navigate(node)">
            {{node.getName()}}
            <span *ngIf="node.uploadStatus < 0.999">
              <br/>
              <mat-progress-bar colspan="5" [value] = "(node.uploadStatus - 0.00) * 400" style = "width: 100%; margin-top: 10px"></mat-progress-bar>
            </span>
          </td>
          <td (click)="navigate(node)">
            {{node.getDataType()}}
            <span *ngIf="node.uploadStatus < 0.999">
              <br/>
              <mat-progress-bar colspan="5" [value] = "(node.uploadStatus - 0.25) * 400" style = "width: 100%; margin-top: 10px"></mat-progress-bar>
            </span>
          </td>
          <td (click)="navigate(node)">
            {{node.getSize() | byteCountToStringPipe}}
            <span *ngIf="node.uploadStatus < 0.999">
              <br/>
              <mat-progress-bar colspan="5" [value] = "(node.uploadStatus - 0.50) * 400" style = "width: 100%; margin-top: 10px"></mat-progress-bar>
            </span>
          </td>
          <td (click)="navigate(node)">
            {{ node.getCreated() | dateToStringPipe}}
            <span *ngIf="node.uploadStatus < 0.999">
              <br/>
              <mat-progress-bar colspan="5" [value] = "(node.uploadStatus - 0.75) * 400" style = "width: 100%; margin-top: 10px"></mat-progress-bar>
            </span>
          </td>
          <td>
            <span (click) = "download(node)" class="button">
              <mat-icon svgIcon="download" aria-hidden="false"></mat-icon>
            </span>
            <span (click) = "edit(node)" class="button">
                <mat-icon svgIcon="edit" aria-hidden="false"></mat-icon>
            </span>
          </td>
        </tr>
      </table>
      <br/>
      <div class = "bigLine"></div>
      <table style = "width: 90%; margin-left: auto; margin-right: auto">
        <tr>
          <td>
            <div style = "display: flex; justify-content: center; align-items: center; height: auto"></div>
          </td>
          <td>
            <div style = "display: flex; justify-content: space-around; align-items: center; height: auto">
              <span>
                <input hidden multiple type="file" (change)="uploadFile($event.target.files)" #uploaderFile>
                <mat-icon svgIcon="file-upload" aria-hidden="false" (click)="uploaderFile.click()" style = "transform: scale(1.5)"></mat-icon>
              </span>
              <span>
                <input hidden multiple type="file" (change)="uploadFolder($event.target.files)" #uploaderFolder webkitDirectory>
                <mat-icon svgIcon="folder-upload" aria-hidden="false" (click)="uploaderFolder.click()" style = "transform: scale(1.5)"></mat-icon>
              </span>
            </div>
          </td>
          <td  style = "margin-left: auto; margin-right: auto; white-space: nowrap; text-overflow: ellipsis;">
            <mat-paginator [length]="nodeList.length" [pageIndex] = "pageIndex" [pageSize] = "pageSize" (page) = "selectPage($event)" [pageSizeOptions]="[5, 10, 15]"></mat-paginator>
          </td>
        </tr>
      </table>
    </div>
  </mat-card>
</div>
