<div style="text-align:center">
  <span>
    <h3>
      <span *ngIf="isNew">Create New Section</span>
      <span *ngIf="!isNew">Edit Section</span>
    </h3>
    <span>
      <mat-form-field class="contentInput">
        <input [(ngModel)]="sectionNode.name" matInput type="text" placeholder="Name" value="">
      </mat-form-field>
      <br />
      <span *ngIf="isNew">
        <button mat-button (click)="add()"> Add </button>
      </span>
      <span *ngIf="!isNew">
        <button mat-button (click)="delete()"> Delete </button>
        <button mat-button (click)="save()"> Save </button>
      </span>
      <button mat-button [mat-dialog-close]="true"> Cancel </button>
    </span>
  </span>
</div>
