<div style="text-align:center">
  <mat-card class="mainCard">
    <mat-card-header>
      <mat-card-title>404 Not Found: {{getRoute()}}</mat-card-title>
    </mat-card-header>
  </mat-card>
</div>
