<div style="text-align:center">
  <span class="mainCard">
    <h3>
      <span>Edit File</span>
    </h3>
    <span>
      <mat-form-field class="contentInput">
        <input [(ngModel)]="fileNodeCopy.name" matInput type="text" placeholder="Name" value="">
      </mat-form-field>
      <mat-form-field class="contentInput">
        <input [(ngModel)]="fileNodeCopy.dataType" matInput type="text" placeholder="Datatype" value="">
      </mat-form-field>
      <br/>
      <span>
        <button mat-button (click)="delete()"> Delete </button>
        <button mat-button (click)="save()"> Save </button>
      </span>
      <button mat-button [mat-dialog-close]="true"> Cancel </button>
    </span>
  </span>
</div>
